html 
  font-size 16px

body 
  background ww
  color txt
  font-family 'Lato', sans-serif
  font-weight 400
  -webkit-font-smoothing antialiased
  line-height 1.45
  
body.hidden-scroll
  overflow hidden
  height 100%

p 
  margin-bottom 1.3em

h1, h2
h3, h4 
  margin 1.414em 0 0.5em
  font-weight 700
  line-height 1.2

h1 
  margin-top 0
  font-size 2.074em

h2 
  font-size 1.728em

h3 
  font-size 1.44em

h4 
  font-size 1.2em
  
h5 
  font-size 0.83em

small
.font-small 
  font-size 0.83em

input
textarea
button
  box-sizing border-box
  
  &:focus
    outline none

[class*="std-btn"]
  background gdb
  border none
  color txt
  border-radius 3px
  box-sizing border-box
  cursor pointer
  display inline-block
  font-family 'Lato', sans-serif
  font-weight 700
  height 42px
  line-height 42px
  padding 0 16px
  text-align center
  vertical-align top
  
.std-btn-yl
  background yl
  color ww
  transition all 0.2s ease
    