#header
	box-shadow 0 3px 6px rgba(0,0,0,0.2)
	height 67px
	padding 0 26px
	position relative
	z-index 10

#logo-name
	font-size 1.2em
	line-height 67px
	margin 0
	padding 0
	text-transform uppercase

#main-nav
	line-height 67px
	margin 0
	padding 0
	position absolute
	right 26px
	text-align right
	top 0

	a
		color txt
		font-weight 700

		&:hover
			color yl
