#login-page
  border-top 4px solid yl
  padding-top 42px
  position relative
  text-align center
  
  h1
  	font-weight 400
  	text-transform uppercase
  
#login-logo
  height auto
  margin-bottom 16px
  max-height 190px
  max-width 190px
  position relative
  width auto
  
.login-error-message
#login-form
  margin 0 auto
  position relative
  width 300px

.login-error-message
  border 1px solid erred
  border-radius 3px
  box-sizing border-box
  color erred
  padding 16px

#login-form
  
  .submit
    margin-top 26px
    width 100%
    
    &:hover
      box-shadow 0 3px 6px rgba(0,0,0,0.2)
      font-size 1.06em
      transform translateY(-2px)