#products-catalog
	margin-right 38%
	padding 42px
	position relative

.category-title
	border-bottom 1px solid gdb
	font-size 1.2em
	font-weight 400
	line-height 42px
	margin 0
	margin-bottom 16px
	padding 0

.catalog-section
	margin-bottom 26px
	position relative

	.product-option
		border 1px solid gdb
		border-radius 6px
		display inline-block
		height 150px
		margin-right 10px
		vertical-align top
		width 150px

.traditional
.extras

	.product-option
		background tradblu

.chorreados

	.product-option
		background chrrred

