.underline-input
	height 42px
	line-height 42px
	margin-bottom 10px
	padding-top 26px
	position relative

	label
		color gab
		font-size 0.83em
		font-weight 700
		left 5px
		pointer-events none
		position absolute
		top 26px
		transition top 0.3s, color 0.3s

	label.on-focus
		color yl
		top 0

	input
		border none
		border-bottom 2px solid gab
		height 40px
		line-height 40px
		margin 0
		padding 0 5px
		transition border 0.3s
		vertical-align top
		width 100%

		&:focus
			border-bottom-color yl
