// Colors
ww 	= #fff
txt = #303030
yl 	= #ffcc00
subyl = #fffac5
brdyl = #e5d959
grn = #3cb878

tradblu = #25a1da
chrrred = #dd2058

// Grays
gab = #ababab
gcd = #cdcdcd
gdb = #dbdbdb

// Util colors
erred = #f54047
