<template name="home">
	<h2>Tradicionales</h2>
	{{#each productTraditional}}
		{{> tradicionales}}
	{{/each}}
	<h2>Chorreados</h2>
	{{#each productChorreado}}
		{{> chorreados}}
	{{/each}}
	<h2>Extras</h2>
	{{#each productExtra}}
		{{> extras}}
	{{/each}}

	<div>
		<h2>Orden</h2>
		{{#each orderProducts}}
			<ul>
				<li>Tipo: {{category}}</li>
				<li>Producto: {{name}}</li>
				<li>Cantidad: {{quantity}} </li>
				<li>Precio Unitario {{unit}} </li>
				<li>Subtotal: {{subtotal}} </li>
			</ul>
		{{/each}}
		<div>{{totalOrder}}</div>
	</div>
</template>